<footer class="section bg-light mt-4" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/images/logo-full.svg" width="100%" loading="lazy" alt="Selectize.js" />
        <p class="mt-3 ml-1 text-muted">Copyright &copy; 2016 - {{ 'now' | date: "%Y" }}</p>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled footer-links ml-1">
          <li><a href="/demos.html">Demos</a></li>
          <li><a href="/docs.html#usage">Usage Documentation</a></li>
          <li><a href="/docs.html#properties">API Documentation</a></li>
          <li><a href="/docs.html#plug-glossary">Plugin Documentation</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled footer-links ml-1">
          <li><a href="https://github.com/selectize/selectize.js">Github</a></li>
          <li><a href="https://keybase.io/team/selectize">Keybase</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/selectize.js">StackOverflow</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <a href="#home" class="btn btn-sm btn-outline-primary ml-1">Go to Top</a>
      </div>
    </div>
  </div>
</footer>
