@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-ExtraBoldItalic.eot');
  src: url('/fonts/Sentral/Sentral-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-ExtraBoldItalic.woff') format('woff'),
      url('/fonts/Sentral/Sentral-ExtraBoldItalic.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-ExtraBoldItalic.svg#Sentral-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-ExtraBold.eot');
  src: url('/fonts/Sentral/Sentral-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-ExtraBold.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-ExtraBold.woff') format('woff'),
      url('/fonts/Sentral/Sentral-ExtraBold.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-ExtraBold.svg#Sentral-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-Bold.eot');
  src: url('/fonts/Sentral/Sentral-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-Bold.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-Bold.woff') format('woff'),
      url('/fonts/Sentral/Sentral-Bold.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-Bold.svg#Sentral-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-Italic.eot');
  src: url('/fonts/Sentral/Sentral-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-Italic.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-Italic.woff') format('woff'),
      url('/fonts/Sentral/Sentral-Italic.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-Italic.svg#Sentral-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-BoldItalic.eot');
  src: url('/fonts/Sentral/Sentral-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-BoldItalic.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-BoldItalic.woff') format('woff'),
      url('/fonts/Sentral/Sentral-BoldItalic.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-BoldItalic.svg#Sentral-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-Regular.eot');
  src: url('/fonts/Sentral/Sentral-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-Regular.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-Regular.woff') format('woff'),
      url('/fonts/Sentral/Sentral-Regular.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-Regular.svg#Sentral-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-MediumItalic.eot');
  src: url('/fonts/Sentral/Sentral-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-MediumItalic.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-MediumItalic.woff') format('woff'),
      url('/fonts/Sentral/Sentral-MediumItalic.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-MediumItalic.svg#Sentral-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sentral';
  src: url('/fonts/Sentral/Sentral-Medium.eot');
  src: url('/fonts/Sentral/Sentral-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Sentral/Sentral-Medium.woff2') format('woff2'),
      url('/fonts/Sentral/Sentral-Medium.woff') format('woff'),
      url('/fonts/Sentral/Sentral-Medium.ttf') format('truetype'),
      url('/fonts/Sentral/Sentral-Medium.svg#Sentral-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

