<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target="#site-nav" data-offset="80" data-scroll-animation="true">
    {% include analytics.html %}
    {% include header.html %}
    <div class="row">
      <div class="col-4">
        {% include docs/menu.html %}
      </div>
      <div class="col-8">
        <section class="container-fluid pa-2">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="{{ '/js/app.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
